nav .brand-logo{
  color: black;
}

nav ul a{
  color: black;
}

.parallax-container{
  height: 500px;
}

.hero-text{
  font-size: 1.5em;
  color: black
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

.dropdown-button {
  padding: 0  36px;
}
