nav .brand-logo{
  color: black;
}

nav ul a{
  color: black;
}

.parallax-container{
  height: 500px;
}

.hero-text{
  font-size: 1.5em;
  color: black
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

.dropdown-button {
  padding: 0  36px;
}

.search {
  font-size: 2.25em;
  text-transform: none;
  background-color: white;
  color: black;
}

#nav-logo {
  font-size: 3em;
}

#dropdown-text {
  font-size: 1.4em;
}

.quote-attribution {
  font-size: 1.5em;
}

#black-text {
  color: black;
}

#black-text2 {
  color: black;
}

.main-viewport {
  max-height: : 95vh;
}
