nav .brand-logo{
  color: black;
}

nav ul a{
  color: black;
}

.dropdown-button {
  padding: 0  36px;
}
/*
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    min-height: 800px;
}*/

#map {
  height: 550px;
  width: 100%
}

.scroll-div {
  height: 495px;
  overflow: scroll
}

.light {
  font-weight: 100;
}

#chart_div {
  height: 200px;
  width: 100%
}

.collapsible-header {
  /*background-color: lightgrey;*/
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
#nav-logo {
  font-size: 3em;
}

#dropdown-text {
  font-size: 1.4em;
}
